In [1]:
import pandas as pd
import re
import nltk #Natural Language tool kit -- this pacakge is quite a mess. Was poorly design and the documentation is not great
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
import warnings
warnings.filterwarnings("ignore")

In [2]:
def clean_up(text):
    url_pattern = r'https?://\S+|www\.\S+'
    symbols_pattern = r'[^a-zA-Z\s]'

    text_without_urls = re.sub(url_pattern, '', text)
    cleaned_text = re.sub(pattern, ' ', text_without_urls)
    
    return cleaned_text

In [3]:
def tokenize(text):
    from nltk.tokenize import word_tokenize
    nltk.download('punkt')
    tokens = word_tokenize(text)
    return tokens

In [4]:
def stem_and_lemmatize(text):
    from nltk.stem import PorterStemmer, LancasterStemmer, SnowballStemmer
    ps = SnowballStemmer(language = 'english')
    stemmed = [ps.stem(word) for word in tokens]
    nltk.download('wordnet') # wordnet is the most well known lemmatizer for english
    from nltk.stem import WordNetLemmatizer
    from nltk.corpus import wordnet
    nltk.download('omw-1.4')
    lemmatizer = WordNetLemmatizer()
    lemmatized = [lemmatizer.lemmatize(word) for word in stemmed]
    lemmatized
    return lemmatized

In [5]:
def remove_stopwords(text):
    from nltk.corpus import stopwords
    nltk.download('stopwords')
    without_sw = [word for word in lemmatized if word not in stopwords.words()]
    return without_sw

In [6]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, LancasterStemmer, SnowballStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('wordnet') # wordnet is the most well known lemmatizer for english
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pedro\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\pedro\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\pedro\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pedro\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
#function to cleaning, tokenizing, stemming, lemmatizing and removing stopwords

import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer, WordNetLemmatizer

# Precompile regular expressions to gain efficiency
url_pattern = re.compile(r'https?://\S+|www\.\S+')
symbols_pattern = re.compile(r'[^a-zA-Z\s]')

# Define stopwords as a set
stop_words = set(stopwords.words('english'))

def tokenize_stem_lemmatize_stopwords(text):
    # Remove URLs
    text_without_urls = url_pattern.sub('', text)
    
    # Remove symbols
    cleaned_text = symbols_pattern.sub(' ', text_without_urls)
    
    # Tokenize
    tokens = word_tokenize(cleaned_text.lower())  # Tokenize and convert to lowercase
    
    # Stemming
    ps = SnowballStemmer(language='english')
    stemmed = [ps.stem(word) for word in tokens]
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized = [lemmatizer.lemmatize(word) for word in stemmed]
    
    # Remove stopwords
    without_sw = [word for word in lemmatized if word not in stop_words]
    
    return without_sw

In [8]:
#importing dataset

tweets = pd.read_csv('tweets.csv', encoding='ISO-8859-1')
tweets.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [9]:
tweets.columns = ['target','id','date','flag','user','text']

In [10]:
tweets

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [11]:
#creating a sample of 20000

sampled_tweets = tweets.sample(n=20000)
sampled_tweets = sampled_tweets.reset_index()
sampled_tweets

,index,target,id,date,flag,user,text
0,788923,0,2325257801,Thu Jun 25 05:05:48 PDT 2009,NO_QUERY,makahiya,sad and got hurt from a friend's comment
1,91290,0,1759452127,Sun May 10 19:14:36 PDT 2009,NO_QUERY,justkarii,I want chris back :'( how did things get this ...
2,841280,4,1562361577,Sun Apr 19 19:48:09 PDT 2009,NO_QUERY,blueyesblue,"@vnakic dude, i'm surprised you found me"
3,1530496,4,2177820795,Mon Jun 15 06:45:24 PDT 2009,NO_QUERY,monnie,Hey Internet! You know that thing you can get ...
4,771592,0,2302441207,Tue Jun 23 16:48:46 PDT 2009,NO_QUERY,backpocketblues,@rawralyrawr apparently... &quot;dick rails&qu...
...,...,...,...,...,...,...,...
19995,331165,0,2012563615,Tue Jun 02 20:52:47 PDT 2009,NO_QUERY,MizMari,@seanjissomean dude jk LOL i'll miss ya wing m...
19996,1202127,4,1985803236,Sun May 31 17:48:12 PDT 2009,NO_QUERY,LexiSunshine,Hey @x17online zaaaaaaac &lt;333 so now all th...
19997,1063769,4,1964544524,Fri May 29 14:24:23 PDT 2009,NO_QUERY,aeonbeat,@faces i was looking for the book two days ago...
19998,13456,0,1553264085,Sat Apr 18 13:48:15 PDT 2009,NO_QUERY,angx,http://twitpic.com/3jqma - I wish they fit ma...
19999,1423044,4,2058622571,Sat Jun 06 15:18:17 PDT 2009,NO_QUERY,sarahbrowntown,@Shannoncurrie bahaha! you're wonderful

In [15]:
#applying previous function to the sample

sampled_tweets['text_processed'] = sampled_tweets['text'].apply(tokenize_stem_lemmatize_stopwords)
sampled_tweets

,index,target,id,date,flag,user,text,text_processed
0,788923,0,2325257801,Thu Jun 25 05:05:48 PDT 2009,NO_QUERY,makahiya,sad and got hurt from a friend's comment,"[sad, got, hurt, friend, comment]"
1,91290,0,1759452127,Sun May 10 19:14:36 PDT 2009,NO_QUERY,justkarii,I want chris back :'( how did things get this ...,"[want, chris, back, thing, get, fuck, miss, fr..."
2,841280,4,1562361577,Sun Apr 19 19:48:09 PDT 2009,NO_QUERY,blueyesblue,"@vnakic dude, i'm surprised you found me","[vnakic, dude, surpris, found]"
3,1530496,4,2177820795,Mon Jun 15 06:45:24 PDT 2009,NO_QUERY,monnie,Hey Internet! You know that thing you can get ...,"[hey, internet, know, thing, get, put, memori,..."
4,771592,0,2302441207,Tue Jun 23 16:48:46 PDT 2009,NO_QUERY,backpocketblues,@rawralyrawr apparently... &quot;dick rails&qu...,"[rawralyrawr, appar, quot, dick, rail, quot, g..."
...,...,...,...,...,...,...,...,...
19995,331165,0,2012563615,Tue Jun 02 20:52:47 PDT 2009,NO_QUERY,MizMari,@seanjissomean dude jk LOL i'll miss ya wing m...,"[seanjissomean, dude, jk, lol, miss, ya, wing,..."
19996,1202127,4,1985803236,Sun May 31 17:48:12 PDT 2009,NO_QUERY,LexiSunshine,Hey @x17online zaaaaaaac &lt;333 so now all th...,"[hey, x, onlin, zaaaaaaac, lt, import, peopl, ..."
19997,1063769,4,1964544524,Fri May 29 14:24:23 PDT 2009,NO_QUERY,aeonbeat,@faces i was looking for the book two days ago...,"[face, wa, look, book, two, day, ago, burga, f..."
19998,13456,0,1553264085,Sat Apr 18 13:48:15 PDT 2009,NO_QUERY,angx,http://twitpic.com/3jqma - I wish they fit ma...,"[wish, fit, mayb, stuff, lot]"
19999,1423044,4,2058622571,Sat Jun 06 15:18:17 PDT 2009,NO_QUERY,sarahbrowntown,@Shannoncurrie bahaha! you're wonderful,"[shannoncurri, bahaha, wonder]"

In [16]:
def re_blob(row):
    return " ".join(row['text_processed'])

sampled_tweets['text_processed'] = sampled_tweets.apply(re_blob,axis=1)
sampled_tweets.head()

,index,target,id,date,flag,user,text,text_processed
0,788923,0,2325257801,Thu Jun 25 05:05:48 PDT 2009,NO_QUERY,makahiya,sad and got hurt from a friend's comment,sad got hurt friend comment
1,91290,0,1759452127,Sun May 10 19:14:36 PDT 2009,NO_QUERY,justkarii,I want chris back :'( how did things get this ...,want chris back thing get fuck miss friend
2,841280,4,1562361577,Sun Apr 19 19:48:09 PDT 2009,NO_QUERY,blueyesblue,"@vnakic dude, i'm surprised you found me",vnakic dude surpris found
3,1530496,4,2177820795,Mon Jun 15 06:45:24 PDT 2009,NO_QUERY,monnie,Hey Internet! You know that thing you can get ...,hey internet know thing get put memori card pu...
4,771592,0,2302441207,Tue Jun 23 16:48:46 PDT 2009,NO_QUERY,backpocketblues,@rawralyrawr apparently... &quot;dick rails&qu...,rawralyrawr appar quot dick rail quot girl two...

In [116]:
neg_tweets = sampled_tweets[sampled_tweets['target']==0]
neg_tweets

,index,target,id,date,flag,user,text,text_processed,clean_blob
0,442050,0,2067173325,Sun Jun 07 11:52:50 PDT 2009,NO_QUERY,rike90,woooohoo!? what the hell... it's cold,"[woooohoo, hell, cold]",woooohoo hell cold
3,535756,0,2198105892,Tue Jun 16 15:36:42 PDT 2009,NO_QUERY,Robbie_Taylor,where those *&amp; ^% Iphone 3.0 update remain...,"[amp, iphon, updat, remain, allreadi, midnight]",amp iphon updat remain allreadi midnight
7,631121,0,2232222174,Thu Jun 18 19:37:09 PDT 2009,NO_QUERY,GinaXP,i just experienced the 1st time of falling asl...,"[experienc, st, time, fall, asleep, wake, scre...",experienc st time fall asleep wake scream beca...
9,191761,0,1969708462,Sat May 30 00:56:40 PDT 2009,NO_QUERY,Amy_E_W,Getting glasses today,"[get, glass, today]",get glass today
12,681963,0,2249873888,Fri Jun 19 23:11:58 PDT 2009,NO_QUERY,RacheLyn5485,@boysforpele32 Awww....that's sad,"[boysforpel, sad]",boysforpel sad
...,...,...,...,...,...,...,...,...,...
19990,347498,0,2016485849,Wed Jun 03 06:51:39 PDT 2009,NO_QUERY,naomijlea,@Rufus_Jay oww I thought it might be your gran...,"[rufus, jay, oww, thought, might, grandad, som...",rufus jay oww thought might grandad someth oh ...
19991,547055,0,2201959167,Tue Jun 16 21:01:39 PDT 2009,NO_QUERY,eponaproblemos,Is super grossed out by the huge pimple!,"[super, gross, huge, pimpl]",super gross huge pimpl
19996,32191,0,1564195769,Mon Apr 20 02:15:53 PDT 2009,NO_QUERY,roban09,Going to bed... did not finish MC,"[go, bed, finish, mc]",go bed finish mc
19998,771447,0,2302366040,Tue Jun 23 16:42:25 PDT 2009,NO_QUERY,jlbbb143,@Bob_Roony yup,"[bob, rooni, yup]",bob rooni yup
19999,165388,0,1960810082,Fri May 29 08:32:21 PDT 2009,NO_QUERY,cbond007,I don't think I'm very well. Just in time for ...,"[think, veri, well, time, weekend]",think veri well time weekend

In [117]:
pos_tweets = sampled_tweets[sampled_tweets['target']==4]
pos_tweets

,index,target,id,date,flag,user,text,text_processed,clean_blob
1,1561904,4,2186697271,Mon Jun 15 19:12:26 PDT 2009,NO_QUERY,jmillz1214,@ANGELEYESBABYFA hey sexy how u doin,"[angeleyesbabyfa, hey, sexi, u, doin]",angeleyesbabyfa hey sexi u doin
2,1486611,4,2068115601,Sun Jun 07 13:31:30 PDT 2009,NO_QUERY,LaChiinalinda,@Yardydp81 Thankyou,"[yardydp, thankyou]",yardydp thankyou
4,869136,4,1678071815,Sat May 02 05:22:25 PDT 2009,NO_QUERY,HayliieeXo,Listening to TMF music &amp;&amp; browsing on ...,"[listen, tmf, music, amp, amp, brow, internet]",listen tmf music amp amp brow internet
5,1587788,4,2190992146,Tue Jun 16 04:15:33 PDT 2009,NO_QUERY,RoryBecker,@Ben_Hall Nothing I can talk about,"[ben, hall, noth, talk]",ben hall noth talk
6,1149394,4,1978335050,Sat May 30 23:03:24 PDT 2009,NO_QUERY,enamoredsoul,@Owais_Iqbal like what songs!?!? please do sha...,"[owai, iqbal, like, song, plea, share]",owai iqbal like song plea share
...,...,...,...,...,...,...,...,...,...
19992,802696,4,1468268777,Tue Apr 07 00:39:04 PDT 2009,NO_QUERY,answersonly,Meatloaf- I love it!,"[meatloaf, love]",meatloaf love
19993,1346089,4,2044194612,Fri Jun 05 09:00:25 PDT 2009,NO_QUERY,Jennifuuurrr,at home,[home],home
19994,1040824,4,1957002408,Thu May 28 23:14:55 PDT 2009,NO_QUERY,jjbaby85,"BrB...about to eat, drink and dance","[brb, eat, drink, danc]",brb eat drink danc
19995,1008316,4,1880790228,Fri May 22 02:30:52 PDT 2009,NO_QUERY,bletheringfool,@Gailporter good news all round,"[gailport, good, news, round]",gailport good news round
19997,1115084,4,1972898225,Sat May 30 10:05:37 PDT 2009,NO_QUERY,autumnrobin,I woke up about an hour ago. But still laying ...,"[woke, hour, ago, still, lay, bed, got, ta, nail]",woke hour ago still lay bed got ta nail

In [17]:
#let's take only the most common 1000 words
bow_vect = CountVectorizer(max_features=1000)
# fit creates one entry for each different word seen
X = bow_vect.fit_transform(sampled_tweets['text_processed']).toarray()

In [18]:
as_df = pd.DataFrame(X,columns=bow_vect.get_feature_names_out())
as_df.head(10)

,abl,absolut,account,ach,act,actual,ad,add,addict,ador,...,yeah,year,yep,yes,yesterday,yet,yo,youtub,yr,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#dividing tweets into two clusters

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=0)
kmeans.fit(X)
pred = kmeans.predict(X)

In [20]:
predict_df = pd.concat([sampled_tweets['text'],pd.DataFrame(pred,columns=['class'])],axis=1)
predict_df.head()

                                                text  class
0          sad and got hurt from a friend's comment       1
1  I want chris back :'( how did things get this ...      1
2          @vnakic dude, i'm surprised you found me       1
3  Hey Internet! You know that thing you can get ...      1
4  @rawralyrawr apparently... &quot;dick rails&qu...      1

In [21]:
#cluster 0

predict_df[predict_df['class'] == 0]

                                                    text  class
8      hey tweets whats going on this early morn cant...      0
17            Going back to bed after a stressful match       0
33      Nearly home  about 2 and a half hours left to go      0
37     @SdVintageVixen Awwwww!  if you guys wanna com...      0
55     @DrLisaTurner I was going to 'attend' but find...      0
...                                                  ...    ...
19913  3rd was soooooo NOT the way to go...ughhhh fee...      0
19932  Dinner first, going home soon, then to Island ...      0
19933      Titus was ahhh-some... now I am going to bed       0
19963        is playing green day as loud as it will go       0
19981  Feeling down today, miss my boo and kinda wann...      0

[1657 rows x 2 columns]

In [22]:
#cluster 1

predict_df[predict_df['class'] == 1]

                                                    text  class
0              sad and got hurt from a friend's comment       1
1      I want chris back :'( how did things get this ...      1
2              @vnakic dude, i'm surprised you found me       1
3      Hey Internet! You know that thing you can get ...      1
4      @rawralyrawr apparently... &quot;dick rails&qu...      1
...                                                  ...    ...
19995  @seanjissomean dude jk LOL i'll miss ya wing m...      1
19996  Hey @x17online zaaaaaaac &lt;333 so now all th...      1
19997  @faces i was looking for the book two days ago...      1
19998  http://twitpic.com/3jqma - I wish they fit  ma...      1
19999           @Shannoncurrie bahaha! you're wonderful       1

[18343 rows x 2 columns]